{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>Welcome to GT Movie Store, an independent film review platform built by movie lovers, for movie lovers.
           Created as a hands-on exploration of web development and software architecture, this site serves as
            a dedicated space to dissect cinema—from big-budget Hollywood releases to hidden indie gems. 
            Here, you’ll find honest ratings, in-depth critiques, and thoughtful discussions designed to help 
            you decide what is actually worth your screen time.</p>
        <p>The project was built by Georgia Tech student Eric N. using the Django framework as part of 
          CS 2340: Objects and Design. By combining clean object-oriented principles with a dynamic, 
          responsive backend, GT Movie Store bridges the gap between software engineering and a passion 
          for film, turning classroom theory into a living, community-driven resource for film 
          enthusiasts everywhere.</p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}" class="max-width-100" alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}